{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Connexion
{% endblock %}

{% block body %}

    <form class="connectionForm" method="post">

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a
                        href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="container-form">
            <div class="login-form">
                <h1>Bienvenue</h1>

                {% if error %}
                    <div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div>
                    <input type="email" name="email" id="inputEmail" placeholder="E-mail" autocomplete="off" required/>
                </div>
                <div>
                    <input type="password" name="password" id="password" placeholder="Mot de passe" autocomplete="off"  required/>
                </div>
                <div>
                    <input type="checkbox" id="remember_me" name="_remember_me " class="remember_me">
                    <label for="remember_me" class="remember_me">Se souvenir de moi</label>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button type="submit" class="btnSubmit">Connexion</button>
                <a href="{{ path('app_register') }}"><button type="button" class="btnNouveauCompte">Pas encore inscrit ?</button></a>

            </div>
        </div>
    </form>

{% endblock %}
