{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} Inscription
{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
    <div class="container-form">
        <div class="login-form">
            <h1>Inscription</h1>
            <div class="alert">
                {{ form_errors(registrationForm) }}
            </div>
            {{ form_widget(registrationForm.email) }}

            {{ form_widget(registrationForm.nom) }}

            {{ form_widget(registrationForm.prenom) }}

            {{ form_widget(registrationForm.plainPassword) }}

            <button type="submit" class="btnSubmit">S'inscrire</button>
            <a href="{{ path('app_login') }}">
                <button type="button" class="btnSubmit">Déjà un compte ?</button>
            </a>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
