{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Profil{% endblock %}

{% block body %}


    <div class="contentProfil">
        <div class="headProfil">
            <h1>{{ profil.prenom ~ ' ' ~ profil.nom|upper }}</h1>
            <img src="{{ vich_uploader_asset(profil, 'imageFile') }}" alt="Photo de profil">
        </div>


        <p>
        <h3>E-mail :</h3>{{ profil.email }}</p>
        <p>
        <h3>Adresse :</h3>{{ profil.adresse ? profil.adresse : 'Pas d\'adresse' }}</p>
        <div class="villeCp">
            {{ profil.codePostal ? profil.codePostal : 'Pas d\'adresse' }}
            {{ profil.ville ? profil.ville : 'Pas d\'adresse' }}
        </div>

        <a class="btnPrimary" href="{{ path('profil_modifier') }}">Modifier mon profil</a>
    </div>


{% endblock %}