{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Profil{% endblock %}

{% block body %}

    <div class="content">
        <div class="headProfil">
            <h1>Bonjour {{ profil.prenom ~ ' ' ~ profil.nom|upper }}</h1>
            <img src="{{ vich_uploader_asset(profil, 'imageFile') }}">
        </div>

        <div class="bodyProfil">
            <ul>
                <li>E-mail: {{ profil.email }}</li>
                <li>Adresse : {{ profil.adresse ? profil.adresse : 'Pas d\'adresse' }}</li>
                <li>Ville : {{ profil.adresse ? profil.adresse : 'Pas d\'adresse' }}</li>
                <li>Code Postal : {{ profil.adresse ? profil.adresse : 'Pas d\'adresse' }}</li>
            </ul>
            <a class="btnPrimary" href="#">Modifier mon profil</a>
        </div>
    </div>

{% endblock %}