<nav>

    <div class="headNav">
        <a href="{{ path('main_index') }}"><img src="{{ asset('img/papierSVG.svg') }}"></a>
        <h3>QUITTANCE</h3>
    </div>

    <div class="user">
        <a class="btnPrimary" href="#">Gestion</a>
        <a href="#"><img class="avatar" src="{{ vich_uploader_asset(app.user, 'imageFile') }}" alt="avatar"></a>
        <a class="deconnexion" href="{{ path('app_logout') }}" title="deconnexion"><img src="{{ asset('img/deconnexion.svg') }}" alt="deconnexion"></a>
    </div>
</nav>

